@model Biblioteca_Reges.Models.Livro

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Apagar Livro";
}

<!DOCTYPE html>

<div class="panel panel-primary">
    <div class="panel-heading">
        Dados do Livro a ser Removido
    </div>
    <div class="panel-body">
        <div class="form-group">
            @Html.LabelFor(model => model.nome)
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.nome, new

           { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Remover Livro"
                   class="btn btn-danger" />
            @Html.ActionLink("Retornar para a listagem", "Index", null, new { @class = "btn btn-info" })
        }
    </div>
</div>


@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Delete</title>
    </head>
    <body>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Livro</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.bibliotecario.nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bibliotecario.nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.leitor.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.leitor.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.autor)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.autor)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.nomeEditora)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.nomeEditora)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.genero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.genero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.isbn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.isbn)
                </dd>

            </dl>

            @using (Html.BeginForm()) {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </body>
    </html>*@
